.tools__subtitle {
  font-size: 1.1rem;
}

.tools__subtitle-h3 {
  font-size: 1rem;
  font-style: italic;
  margin: 1rem 0;
}

.tools__image {
  border-radius: var(--border-radius);
  box-shadow: var(--container-shadow);
}

.tools__list {
  list-style: circle;
  padding-left: 1rem;
  margin: 0 0 1.5em 0;
}

.tools__list li {
  margin: 0.5rem 0;
}

.tools__list--ordered {
  padding-left: 1rem;
}

.tools__list--ordered li {
  margin: 1rem 0;
}
